.home__mainSection {
    background-color: var(--color-primary-700);
    color: var(--color-base-100);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    position: relative;

    &>div {
        width: 100%;
        max-width: 50rem;

        & h1 {
            font-size: 2.5rem;
            font-weight: 700;

            @media (width > 768px) {
                text-align: center;
            }
        }

        & .mainSection__form {
            margin-block-start: 1rem;
            gap: 1rem;
            display: flex;
            flex-wrap: wrap;

            & label:first-child {
                flex-basis: 300px;
                flex-grow: 1;

                & .form__multiple-select {
                    width: 100%;
                }
            }

            & label:nth-child(2) {
                flex-basis: 300px;
                flex-grow: 1;

                & .form__date-rage-picker {
                    width: 100%;
                }
            }
        }
    }

    &>svg {
        z-index: 10;
        position: absolute;
        bottom: -1px;
        height: auto;
        width: 100%;
    }
}

.home__mainSection~.home__categorySection {
    margin-top: 5rem;
}

.home__categorySection~.home__recommendationsSection {
    margin-top: 4rem;
}

.home__categorySection,
.home__recommendationsSection {
    padding-inline: 1rem;
}

.home__categorySection {

    &>.categorySection__container {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        padding-block: 1rem;
        width: 100%;
        max-width: calc(100dvw - 64px);

        @media (width > 480px) {
            max-width: calc(100dvw - 3rem);
        }

        & a {
            flex-shrink: 0;
        }
    }
}

.home__recommendationsSection {
    &>.recommendationsSection__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        gap: 1rem;
        padding-block: 1rem;

        @media (width > 480px) {
            grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        }

        @media (width > 768px) {
            grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        }
    }
}