.ReservationCard__container {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--color-primary-100);

    & .ReservationCard__figure {
        position: relative;
        aspect-ratio: 1/1;
        width: 100%;

        & .ReservationCard__appreciation {
            position: absolute;
            top: .5rem;
            right: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1/1;
            width: 35px;
            border-radius: 0.5rem;
            background-color: #08875D;
            color: var(--color-base-100);
            font-weight: 600;
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &>button {
            position: absolute;
            bottom: .5rem;
            right: .5rem;
        }
    }

    & .ReservationCard__content {
        display: grid;
        gap: .8rem;
        width: 100%;
        padding-block-end: .5rem;
        padding-inline: 1rem;
        color: var(--color-base-700);

        & .ReservationCard__stay-header {

            &>h2 {
                font-size: 1.2rem;
            }

            &>p {
                font-size: .9rem;
            }
        }

        & .ReservationCard__reservation-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        & .ReservationCard__info-text {
            font-size: .9rem;

            &>strong {
                display: block;
                font-size: 1.1rem;
            }
        }

        &>button {
            justify-self: start;
        }
    }

    & .ReservationCard__confirm {
        font-weight: 600;
        color: #08875D;


        &>.icon {
            font-size: 1rem;
            font-weight: 800;
        }
    }

    @media (width > 768px) {

        & {
            flex-direction: row;
        }

        & .ReservationCard__figure {
            flex-shrink: 0;
            width: 230px;
        }

        & .ReservationCard__content {
            display: grid;
            gap: .8rem;
            width: 100%;
            padding-block: .5rem;
            padding-inline-start: 0rem;
            padding-inline-end: 1rem;
            color: var(--color-base-700);

            & .ReservationCard__stay-header {
                flex-wrap: wrap;

                & .ReservationCard__appreciation {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 1/1;
                    width: 40px;
                    border-radius: 0.5rem;
                    background-color: #08875D;
                    color: var(--color-base-100);
                    font-weight: 600;
                }
            }

            & .ReservationCard__reservation-info {
                flex-direction: row;
                flex-wrap: wrap;

                & .ReservationCard__info-text~.ReservationCard__info-text {
                    border-left: 1px solid var(--color-base-300);
                    padding-inline: 1rem;
                }
            }
        }
    }
}