services:

  # Nodo de Datos 1
  mysql-server-1:
    container_name: mysql-server-1
    build: .
    restart: always
    command:
      - --server-id=1
      - --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    hostname: mysql-server-1
    ports:
    - "3306:3306"
    networks:
      - plax-net
    volumes:
      - mysql1_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s

  # Nodo de Datos 2
  mysql-server-2:
    container_name: mysql-server-2
    build: .
    restart: always
    command:
      - --server-id=2
      - --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    hostname: mysql-server-2
    ports:
    - "3307:3306"
    networks:
      - plax-net
    volumes:
      - mysql2_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s

  # Nodo de Datos 3
  mysql-server-3:
    container_name: mysql-server-3
    build: .
    restart: always
    command:
      - --server-id=3
      - --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    hostname: mysql-server-3
    ports:
    - "3308:3306"
    networks:
      - plax-net
    volumes:
      - mysql3_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 20s

  # Nodo inicializador del Cluster
  init-cluster:
    container_name: init-cluster
    build:
      context: .
      dockerfile: Dockerfile.init-cluster
    restart: "no"
    networks:
      - plax-net
    depends_on:
      mysql-server-1:
        condition: service_healthy
      mysql-server-2:
        condition: service_healthy
      mysql-server-3:
        condition: service_healthy

  # MySQL Router
  mysql-router:
    container_name: mysql-router
    image: mysql/mysql-router:8.0
    restart: on-failure
    environment:
      MYSQL_USER: clusteradmin
      MYSQL_PASSWORD: cladmin
      MYSQL_HOST: mysql-server-1
      MYSQL_PORT: 3306
    networks:
      - plax-net
    ports:
      - "6446:6446"
    depends_on:
      mysql-server-1:
        condition: service_healthy
      mysql-server-2:
        condition: service_healthy
      mysql-server-3:
        condition: service_healthy
      init-cluster:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql-router", "-P", "6446"]
      interval: 5s
      timeout: 5s
      retries: 10
  
  # Backend de la aplicación
  backend:
    image: sofiayanez98/plax-backend:latest
    container_name: plax_backend
    restart: always
    env_file:
      - ./plax-backend/.env
    ports:
      - "8080:8080"
    networks:
      - plax-net
    volumes:
      - ./plax-backend/uploads:/app/uploads
      - ./plax-backend/.env:/app/.env        # <- monta .env en /app/.env
      - ./plax-backend/.env:/.env 
    depends_on:
      mysql-router:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    labels:
      com.centurylinklabs.watchtower.enable: "true"

  # Frontend de la aplicación
  frontend:
    image: sofiayanez98/plax-frontend:latest
    container_name: plax_frontend
    restart: always
    environment:
      VITE_API_URL: http://localhost:8080
    ports:
      - "5173:80"
    networks:
      - plax-net
    volumes:
      - ./plax-frontend/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    labels:
      com.centurylinklabs.watchtower.enable: "true"

  # Cliente MySQL
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql-router
      PMA_PORT: 6446
      PMA_USER: clusteradmin
      PMA_PASSWORD: cladmin
    ports:
      - "8081:80"
    networks:
      - plax-net
    depends_on:
      - backend
      - frontend
  
  # Watchtower - auto-update container images
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60 --label-enable --cleanup

volumes:
  mysql1_data:
  mysql2_data:
  mysql3_data:

networks:
  plax-net:
    driver: bridge
