@media (width >=1024px) {
    .adminLayout__displayMessage {
        display: none;
    }

    .adminLayout__container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 250px 1fr;
    }

    .sidebar__container {
        position: relative;
        max-width: 250px;
        padding-block: 1rem;
        padding-inline: 1rem;
        background-color: var(--color-base-100);
        box-shadow: 2px 0px 10px 4px rgb(0 0 0 / 25%);

        & .sidebar__nav {
            position: fixed;
            display: grid;
            min-height: calc(100vh - 2rem);
            grid-template-rows: auto 1fr auto;
            width: calc(250px - 2rem);
            gap: 2rem;

            &>a>img {
                width: 100%;
                aspect-ratio: 215 / 60;
                object-fit: cover;
            }

            & .sidebar__list {
                list-style: none;

                & .sidebar__title {
                    width: 100%;
                    color: var(--color-base-500);
                    font-weight: 500;
                    border-bottom: 1px solid;
                    margin-bottom: .5rem;
                }

                & li {
                    font-family: 'Urbanist', sans-serif;
                    width: 100%;

                    &>.sidebar__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 1.1rem;
                        padding-block: .5rem;
                        border-radius: 1rem;
                        color: var(--color-base-700);
                        transition: background-color .3s ease, color .3s ease;

                        &:hover {
                            background-color: var(--color-base-200);
                            color: var(--color-base-900);
                        }

                        &.sidebar__item--active {
                            background-color: var(--color-primary-200);
                            color: var(--color-base-900);
                        }
                    }
                }

                & li~li {
                    margin-top: .5rem;
                }
            }

            & .button {
                text-align: center;
            }
        }
    }
}

@media (width < 1024px) {
    .adminLayout__container {
        display: none;
    }

    .adminLayout__displayMessage {
        padding-inline: 1rem;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--color-primary-700);
        color: var(--color-primary-100);
    }
}