.reviewForm__title {
    margin-top: 1.2rem;
    text-align: center;
}

.reviewForm__form {

    &>div:has(button) {
        text-align: end;
        margin-top: .5rem;
    }
}

.reviewform__rating-container {
    display: flex;
    justify-content: center;
}

.reviewform__rating-container:has(.reviewForm__rating:last-child>input:checked),
.reviewform__rating-container:has(.reviewForm__rating:last-child>input:hover) {

    & .reviewForm__rating:nth-child(n+1) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(4)>input:checked) {

    & .reviewForm__rating:nth-child(-n+3) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(4)>input:hover) {

    & .reviewForm__rating:nth-child(-n+3) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }

    & .reviewForm__rating:nth-child(5) {
        & label>.icon {
            color: var(--color-base-200);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(3)>input:checked) {

    & .reviewForm__rating:nth-child(-n+2) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(3)>input:hover) {

    & .reviewForm__rating:nth-child(-n+2) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }

    & .reviewForm__rating:nth-child(4),
    .reviewForm__rating:nth-child(5) {
        & label>.icon {
            color: var(--color-base-200);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(2)>input:checked) {

    & .reviewForm__rating:nth-child(1) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(2)>input:hover) {
    & .reviewForm__rating:nth-child(1) {
        & label>.icon {
            color: var(--color-primary-700);
        }
    }

    & .reviewForm__rating:nth-child(3),
    .reviewForm__rating:nth-child(4),
    .reviewForm__rating:nth-child(5) {
        & label>.icon {
            color: var(--color-base-200);
        }
    }
}

.reviewform__rating-container:has(.reviewForm__rating:nth-child(1)>input:hover) {

    & .reviewForm__rating:nth-child(2),
    .reviewForm__rating:nth-child(3),
    .reviewForm__rating:nth-child(4),
    .reviewForm__rating:nth-child(5) {
        & label>.icon {
            color: var(--color-base-200);
        }
    }
}

.reviewForm__rating {
    & input[type="radio"]:checked~label>.icon {
        color: var(--color-primary-700);
    }

    & label>.icon {
        font-size: 3rem;
        color: var(--color-base-200);
        transition: color 0.2s ease;
        cursor: pointer;

        &:hover {
            color: var(--color-primary-700);
        }
    }

    & input[type="radio"] {
        display: none;
    }
}