.authLayout {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-base-0);
    color: var(--color-base-900);

    display: grid;

    @media (width > 768px) {
        grid-template-columns: 1fr 1.5fr;
    }
}

.auth-info__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    order: 2;
    background-color: var(--color-primary-700);
    color: #fff;
    text-align: center;

    & h1 {
        font-size: 3rem;
        font-weight: 700;

        & a {
            color: #fff;
            text-decoration: none;
        }
    }

    & p {
        font-size: 1.2rem;
        font-weight: 500;
    }

    @media (width > 768px) {
        order: 1;
        text-align: start;
    }
}

.auth-form__section {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    @media (width > 768px) {
        order: 2;
    }
}