a:has(.itemList__container) {
    text-decoration: none;
    color: var(--color-base-900);
}

.itemList__container {
    background-color: var(--color-base-100);
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 1rem;
    align-items: center;

    & .itemList__info:first-child{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .itemList__info {
        flex-shrink: 1;
    }

    & .itemList__info:nth-child(2) {
        flex-shrink: 1;
        flex-basis: 230px;

        & p {
            width: 100%;
            max-width: 230px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    & .itemList__actions {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;


        & button {
            display: flex;
            place-items: center;
            border-style: none;
            padding: 0.5rem;
            border-radius: 50%;
            cursor: pointer;
        }

        & button:first-child {
            background-color: var(--color-primary-700);

            &:hover {
                background-color: var(--color-primary-800);
            }

            &:active {
                background-color: var(--color-primary-900);
            }
        }

        & button:last-child {
            background-color: var(--color-danger-700);

            &:hover {
                background-color: var(--color-danger-800);
            }

            &:active {
                background-color: var(--color-danger-900);
            }
        }
    }
}